<section
    class="bg-gray-900 border flex flex-col gap-2 items-center border-gray-800 shadow p-8 my-12 text-center text-gray-100"
>
    <h2 class="text-3xl font-bold mb-4">Hire Me</h2>
    <p class="mb-6 text-lg max-w-screen-xl mx-auto">
        I'm available for freelance web development projects! If you need a
        modern, performant website or app built with Astro, React, TypeScript,
        Tailwind, and more, let's work together.
    </p>
    <a
        class="border transition-colors w-1/6 duration-150 hover:bg-emerald-600 cursor-pointer hover:text-white border-emerald-600 text-emerald-600 text-center px-5 py-3 text-2xl mt-8 rounded"
        >Contact me</a>
</section>
