---
import Technologies from "../components/Technologies.astro";
import Hireme from "../components/Hireme.astro";
import ProjectsSection from "./ProjectsSection.astro";
---

<div class="flex flex-col gap-10">
	<div class="flex flex-col max-w-screen-2xl py-30 mx-auto gap-9">
		<h2 class="text-8xl font-semibold text-white">Ashton Martinez</h2>
		<h2 class="text-8xl font-semibold text-gray-400">
			Full-Stack Developer
		</h2>
		<p class="text-2xl text-gray-500 w-2/3">
			I'm a full-stack web developer based in Orlando, FL, passionate
			about crafting seamless digital experiences. I specialize in
			building interactive, user-focused frontends with modern frameworks
			and tools, paired with clean, scalable backend systems.
		</p>
		<a
			class="border transition-colors w-1/5 duration-150 hover:bg-emerald-600 cursor-pointer hover:text-white border-emerald-600 text-emerald-600 text-center px-5 py-3 text-2xl mt-8 rounded"
			>Contact me</a
		>
	</div>

	<Technologies />
	<Hireme />
	<div id="projects">
		<ProjectsSection />
	</div>
</div>
