---
import Nav from "../components/Nav.astro";
---

<div>
	<Nav />
	<div class="flex flex-col max-w-2/3 py-30 mx-auto gap-9">
		<h2 class="text-8xl font-semibold text-white">Ashton Martinez</h2>
		<h2 class="text-8xl font-semibold text-gray-400">
			Full-Stack Developer
		</h2>
		<p class="text-2xl text-gray-500 w-2/3">
			I'm a full-stack web developer based in Orlando, FL, passionate
			about crafting seamless digital experiences. I specialize in
			building interactive, user-focused frontends with modern frameworks
			and tools, paired with clean, scalable backend systems.
		</p>
		<a
			class="border border-green-400 text-green-400 text-center px-5 py-3 text-2xl mt-8 rounded"
			>Contact me</a>
	</div>
</div>
