---

---
<div class="w-full flex flex-row items-center justify-between px-15 py-2 bg-gradient-to-r from-gray-900 via-gray-800 to-gray-900 shadow-lg	">
	<a href="/">
		<img
			src="/ashton-logo-medium.png"
			alt="Ashton Martinez Logo"
			class="w-24 h-24"
		/>
	</a>
	<div class="flex flex-row items-center justify-between w-1/3 text-xl text-white">
		<a class="font-light hover:text-emerald-600 transition-colors duration-150" href="/">Home</a>
		<a class="font-light hover:text-emerald-600 transition-colors duration-150" href="/about">About</a>
		<a class="font-light hover:text-emerald-600 transition-colors duration-150" href="/projects">Projects</a>
		<a class="font-light hover:text-emerald-600 transition-colors duration-150" href="/contact">Contact</a>
	</div>
</div>
