---

---

<section
    class="max-w-screen-2xl mx-auto w-full py-12 px-4 bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900 rounded-xl shadow-lg"
>
    <div class="text-center mb-10">
        <h2 class="text-4xl font-bold text-white mb-2">Technologies</h2>
        <p class="text-gray-400 text-lg">
            A collection of tools and frameworks I work with
        </p>
    </div>
    <div class="flex flex-wrap gap-8 justify-center">
        <div
            class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center transition-transform hover:scale-105 border border-gray-600 hover:shadow-2xl w-48"
        >
            <p class="text-2xl text-center font-semibold text-blue-400 mb-2">
                React
            </p>
            <img src="react-icon.png" alt="React Logo" class="h-20 mb-2" />
        </div>
        <div
            class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center transition-transform hover:scale-105 border border-gray-600 hover:shadow-2xl w-48"
        >
            <p class="text-2xl text-center font-semibold text-green-400 mb-2">
                Vue
            </p>
            <img src="vue.png" alt="Vue.js Logo" class="h-20 mb-2" />
        </div>
        <div
            class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center transition-transform hover:scale-105 border border-gray-600 hover:shadow-2xl w-48"
        >
            <p class="text-2xl text-center font-semibold text-teal-400 mb-2">
                Tailwind
            </p>
            <img src="tailwind.png" alt="Tailwind CSS Logo" class="h-20 mb-2" />
        </div>
        <div
            class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center transition-transform hover:scale-105 border border-gray-600 hover:shadow-2xl w-48"
        >
            <p class="text-2xl text-center font-semibold text-blue-600 mb-2">
                Typescript
            </p>
            <img src="typescript.png" alt="TypeScript Logo" class="h-20 mb-2" />
        </div>
        <div
            class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center transition-transform hover:scale-105 border border-gray-600 hover:shadow-2xl w-48"
        >
            <p class="text-2xl text-center font-semibold text-yellow-600 mb-2">
                Javascript
            </p>
            <img src="javascript.png" alt="JavaScript Logo" class="h-20 mb-2" />
        </div>
        <div
            class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center transition-transform hover:scale-105 border border-gray-600 hover:shadow-2xl w-48"
        >
            <p class="text-2xl text-center font-semibold text-purple-950 mb-2">
                Astro
            </p>
            <img src="astro.png" alt="Astro Logo" class="h-20 mb-2" />
        </div>
        <div
            class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center transition-transform hover:scale-105 border border-gray-600 hover:shadow-2xl w-48"
        >
            <p class="text-2xl text-center font-semibold text-blue-300 mb-2">
                Docker
            </p>
            <img src="docker.webp" alt="Docker Logo" class="h-20 mb-2" />
        </div>
        <div
            class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center transition-transform hover:scale-105 border border-gray-600 hover:shadow-2xl w-48"
        >
            <p class="text-2xl text-center font-semibold text-red-600 mb-2">
                Laravel
            </p>
            <img src="laravel.png" alt="Laravel Logo" class="h-20 mb-2" />
        </div>
        <div
            class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center transition-transform hover:scale-105 border border-gray-600 hover:shadow-2xl w-48"
        >
            <p class="text-2xl text-center font-semibold text-gray-200 mb-2">
                Next.js
            </p>
            <img src="next.png" alt="Next.js Logo" class="h-20 mb-2" />
        </div>
        <div
            class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center transition-transform hover:scale-105 border border-gray-600 hover:shadow-2xl w-48"
        >
            <p class="text-2xl text-center font-semibold text-green-700 mb-2">
                Node.js
            </p>
            <img src="node.png" alt="Node.js Logo" class="h-20 mb-2" />
        </div>
        <div
            class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center transition-transform hover:scale-105 border border-gray-600 hover:shadow-2xl w-48"
        >
            <p class="text-2xl text-center font-semibold text-blue-800 mb-2">
                PostgreSQL
            </p>
            <img src="postgres.png" alt="PostgreSQL Logo" class="h-20 mb-2" />
        </div>
        <div
            class="bg-gray-800 rounded-xl shadow-lg p-6 flex flex-col items-center transition-transform hover:scale-105 border border-gray-600 hover:shadow-2xl w-48"
        >
            <p class="text-2xl text-center font-semibold text-indigo-700 mb-2">
                PHP
            </p>
            <img src="php.png" alt="PHP Logo" class="h-20 mb-2" />
        </div>
    </div>
</section>
