---
import Layout from "../../layouts/Layout.astro";

import ProjectCard from "../../components/ProjectCard.astro";
---

<div>
    <Layout>
        <div class="flex flex-col gap-20 p-20">
      
        </div>
    </Layout>
</div>
