<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/ashton-logo-medium.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Ashton Martinez</title>
		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body class="bg-gray-950">
		<slot />
	</body>
</html>
